.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;

  background: black;

  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1000;

  box-shadow:
    0 -4px 20px
    rgba(0,0,0,0.25);
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;

  color: white;

  transition: 0.3s;
}

.footer-item span {
  font-size: 1.4rem;
}

.footer-item p {
  font-size: 12px;
  margin-top: 4px;
}

.footer-item:hover {
  transform: scale(1.08);

  color: #60a5fa;
}
